body {
    background-color: rgb(112, 164, 182);
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(253, 209, 151);
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
}

.hero {
    height: 250px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    background-image: url("../images/calming-background-image.avif");
}

.top-header {
    background-color: rgb(110, 206, 185);
    font-size: 32px;
    padding-left: 20px;
    font-family: 'Copperplate Gothic Light', Verdana, sans-serif;
}

.border-links {
    text-decoration: none;
    margin: 25px;
    padding: 5px;
    color: black;
    font-weight: bold;
    font-family: 'Copperplate Gothic Light', Verdana, sans-serif;
}

.border-links:hover {
    transition: background 2s;
    background-color: rgb(235, 39, 39);
    color: white;
}

.AB {
    display: flex;
}

img {
    max-width: 100%;
    border: 5px solid rgb(0, 0, 0);
}

.section-name{
    text-align: right;
    border-right: 3px solid black;
    width: 20%;
    padding: 0 10px 0 50px;
    font-size: 2.5rem;
}

.row {
    display: flex;
    text-align: center;
    color: white;
}

.row-item {
    position: relative;
    margin: 20px;
    opacity: 80%;
}

.row-item:hover {
    opacity: 100%;
}

.image-text-bg {
    position: absolute;
    bottom: 15%;
    left: 5px;
    background-color: rgb(26, 248, 248);
    padding: 10px;
}

.large-image-text {
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.small-image-text {
    padding-top: 10px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: left;
}

.section-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.footer-content {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
}




