* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(112, 164, 182);
}

nav {
    display: flex;
    background-color: rgb(253, 209, 151);
    justify-content: space-around;
    align-items: center;
    padding-right: 80px;
}

.top-header {
    padding: 5px 5px 5px 40px;
    margin: 20px 600px 20px -27px;
    background-color: rgb(110, 206, 185);
    font-size: 32px;
    font-family: 'Copperplate Gothic Light', Verdana, sans-serif;
}

.row {
    display: flex;
    justify-content: space-around;
}

.AB {
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
}

.section-name{
    border-right: 10px solid black;
}

/* main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;

} */

.hero {
    height: 250px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: url("../images/calming-background-image.avif");
}


